html {
    margin: 0;
    scroll-behavior: auto;
}

body {
    background-color: white;
    background-image: url('../../utils/images/noisy.png');
}

.phone-container {
    width: 280px;
    height: 560px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted #333;
}

.phone-screen {
    width: 99%;
    height: 99%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-color: #333333;
}
